@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;900&family=Timmana&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 85, 129, 0.7)), to(rgba(3, 85, 129, 0.7))), url(./images/pexels-pixabay-38630.jpg);
  background: linear-gradient(0deg, rgba(3, 85, 129, 0.7), rgba(3, 85, 129, 0.7)), url(./images/pexels-pixabay-38630.jpg);
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #000000;
  padding: 100px;
}

header {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0%;
  left: 0%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 10rem;
}

header .logo {
  font-family: "Timmana", sans-serif;
  width: 25%;
  position: relative;
  font-size: 4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 104px;
  color: #ffe101;
  text-shadow: -3px -1px 8px rgba(46, 113, 148, 0.2);
}

header ul {
  position: relative;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 2rem;
}

header ul li a {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
}

.content {
  margin-top: 9rem;
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .work-hard h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 98px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(240, 155, 6, 0.58);
}

.content .work-hard span {
  font-style: italic;
  color: #ffe101;
}

.content .clock-ticking {
  font-family: "Timmana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #fffffe;
}

.content button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #fffbfb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.72);
  background: rgba(255, 225, 1, 0.9);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */